
<div class="mx-auto my-6 max-w-7x1 px-2 sm:px-6 lx:px-8">
    <div class="float-left">
        <div class="max-w mt-5 border-b-2 border-black">
            <h1 class="text-3xl"><strong>Heroes</strong></h1>
        </div>
        <div class="max-w mt-2 mb-5 grid grid-cols-1 gap-x-6 sm:grid-cols-6">
            <form class="sm:col-span-2 sm:col-start-5">
                <label for="sort_heroes_by">Sort By:</label>
                    <select id="sort_heroes_by" name="sort_heroes_by" class="border-2 border-gray-600 rounded-md ml-2 px-2 py-1">
                        <option value="Default">Default</option>
                        <option value="Name">Name</option>
                        <option value="Culture">Culture</option>
                        <option value="Owned">Owned</option>
                        <option value="Power">Power</option>
                    </select>
                </form>
        </div>
        <table class="table-auto">
            <thead class="text-left border-b-2 border-black">
                <th class="px-3">Owned</th>
                <th class="px-5">Hero Name</th>
                <th class="px-5">Culture</th>
                <th class="px-5">Power</th>
                <th class="px-3">Strength</th>
                <th class="px-3">Wisdom</th>
                <th class="px-3">Endurance</th>
                <th class="px-3">Stamina</th>
            </thead>
            <tbody class="">
                <tr *ngFor="let hero of heroes" >
                    <td class="px-3 text-center">
                        <input id="owned_hero" name="owned_hero" type="checkbox" class="size-4 align-middle">
                    </td>
                    <td class="px-5" [ngSwitch]="hero.culture" >
                        <div *ngSwitchCase="'Egyptian'" class="bg-egyptian-100 px-3 py-1 rounded-xl"><strong>{{ hero.name }}</strong></div>
                        <div *ngSwitchCase="'Greek'" class="bg-greek-100 px-3 py-1 rounded-xl"><strong>{{ hero.name }}</strong></div>
                        <div *ngSwitchCase="'Norse'" class="bg-norse-100 px-3 py-1 rounded-xl"><strong>{{ hero.name }}</strong></div>
                        <div *ngSwitchCase="'Modern'" class="bg-modern-100 px-3 py-1 rounded-xl"><strong>{{ hero.name }}</strong></div>
                        <!-- td *ngSwitchDefault>{{ hero.name }}</td -->
                    </td >
                    <td class="px-5">{{ hero.culture }}</td>
                    <td class="px-5 text-center">{{ hero.power }}</td>
                    <td class="px-3 text-center">{{ hero.strength }}</td>
                    <td class="px-3 text-center">{{ hero.wisdom }}</td>
                    <td class="px-3 text-center">{{ hero.endurance }}</td>
                    <td class="px-3 text-center">{{ hero.stamina }}</td>
                </tr>
            </tbody>
        </table>
    <div class="max-w mt-10 mb-5 grid grid-cols-1 gap-x-6 sm:grid-cols-6 border-t-2 border-black">
        <form class="sm:col-span-3 sm:col-start-6 mt-2">
            <label >
                <button id="save_heroes" name="save_heroes" class="border-2 border-gray-600 rounded-md ml-2 px-2 py-1 sm:col-span-2 sm:col-start-4">Save</button>
            </label>
        </form>

    </div>
    </div>
</div>
